{#
/**
 * @file
 * Tripal Cultivate Theme implementation for a banner wide tile block.
 * Tiie section layout:
 * _______________
 * |      |   |__|
 * |      |___|__|
 * |______|__X___|
 *
 * Available variables:
 * -
 */
#}

<div class="tripalcultivate-theme-tiles-banner-wide">    
  {{ content }}
</div>