{#
/**
 * @file
 * Tripal Cultivate Theme implementation for a standard top tile block.
 * Tiie section layout:
 * _______________
 * |      |   |x_|
 * |      |___|__|
 * |______|______|
 *
 * Available variables:
 * -
 */
#}

<div class="tripalcultivate-theme-tiles-standard-top">    
  {{ content }}
</div>