{#
/**
 * @file
 * Tripal Cultivate Theme implementation for a large half tile block.
 * Tiie section layout:
 * _______________
 * |      |   |__|
 * |  X   |___|__|
 * |______|______|
 *
 * Available variables:
 * -
 */
#}

<div class="tripalcultivate-theme-tiles-large-half">    
  {{ content }}
</div>