{#
/**
 * @file
 * Tripal Cultivate Theme implementation for a banner tall tile block.
 * Tiie section layout:
 * _______________
 * |      | X |__|
 * |      |___|__|
 * |______|______|
 *
 * Available variables:
 * -
 */
#}

<div class="tripalcultivate-theme-tiles-banner-tall">    
  {{ content }}
</div>