{#
/**
 * @file
 * Tripal Cultivate Theme implementation for a standard bottom tile block.
 * Tiie section layout:
 * _______________
 * |      |   |__|
 * |      |___|x_|
 * |______|______|
 *
 * Available variables:
 * -
 */
#}

<div class="tripalcultivate-theme-tiles-standard-bottom">    
  {{ content }}
</div>