
/**
 * Change the Olivero theme to be Fluid Width.
 *
 * Removes the drupal-drop patterned section that appears at the right edge
 * of the 2024Feb Olivero theme when you expand the window beyond the max-width
 * that olivero supports.
 *
 * Also adds a channel on the right side of the page in order to equalize
 * the padding on both sides of the page.
 */
:root {
  --max-width: 100%;
}
#page-wrapper.page-wrapper {
  width: 100%;
  max-width: 100%;
}
#page-wrapper .main-content__container {
  max-width: 100%;
  padding-right: calc(var(--sp2) + var(--content-left));
}
.site-header__inner {
  padding-right: var(--content-left);
}

/**
 * Global wrapping element.
 * Template: page.html.twig + page--front.html.twig
 */
.tripalcultivate-theme-content-wrapper {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
.tripalcultivate-theme-double-columns-wide {
  align-items: center;
  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}