.main-content__container {
  font-size: 1.5em;
  line-height: 2em;
  margin-bottom: 100px;
  padding: 100px 100px;
}
.main-content__container ul {
  list-style: square outside none;
}

/**
 * This is an override of the 100 pixels
 * top padding rule of content area.
 * Applies half value of the padding, only to front page.
 */
.main-content__container {
  padding-top: var(--sp2-5);
}

/**
 * Front page tiles section
 * Template: page--front.html.twig
 */

/**
 * Relative to document font size, the tile height
 * is 25 times the value. At 18px set value, tile
 * height is 450px tall.
 *
 * Margins at 10px applied to right and bottom sides.
 * Elements to the right and bottom will account for
 * additional value to width or height caused by
 * applying the margins.
 */
:root {
  --tile-height-scaling-factor: 25;
  --tile-margin-width: 10px;

  --tile-height: calc(var(--tile-height-scaling-factor) * var(--sp));
  --tile-half: calc(0.5 * var(--tile-height));
  --tile-one-third: calc(0.3333 * var(--tile-height));
  --tile-two-thirds: calc(0.6667 * var(--tile-height));
}

#tripalcultivate-theme-tiles {
  display: block;
  height: var(--tile-height);
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
/* Margin applied (right), margin distributed to both tiles at half pixels each. */
.tripalcultivate-theme-tiles-half-column {
  align-self: flex-start;
  box-sizing: border-box;
  flex-shrink: 0;
  height: var(--tile-height);
  position: relative;
  width: calc(50% - (0.5 * var(--tile-margin-width)));
}
/* Margin applied (bottom), keeping the full height of tile. */
.tripalcultivate-theme-tiles-half-two-thirds-row {
  align-self: flex-start;
  box-sizing: border-box;
  flex-shrink: 0;
  height: var(--tile-two-thirds);
  width: 100%;
}
/* Height is margin width less to account for margin of the 2/3 tile. */
.tripalcultivate-theme-tiles-half-one-third-row {
  height: calc(var(--tile-one-third) - var(--tile-margin-width));
  width: 100%;
}
/* Second tile to the right will account for the margin. */
.tripalcultivate-theme-tiles-half-two-halves-column {
  align-self: flex-start;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  flex-shrink: 0;
  height: var(--tile-two-thirds);
  width: 50%;
}
.tripalcultivate-theme-tiles-half-two-halves-column:nth-child(2) {
  width: calc(50% - var(--tile-margin-width));
}
/* Width is less margin width since to get to standard tile, margin applied 1x from adjacent tile. */
.tripalcultivate-theme-tiles-half-standard {
  flex: 1;
  width: 100%;
}
.tripalcultivate-theme-tile-margin-right {
  margin-right: var(--tile-margin-width);
}
.tripalcultivate-theme-tile-margin-bottom {
  margin-bottom: var(--tile-margin-width);
}

/* Default background color of tiles - matches the color scheme of base theme. */
.tripalcultivate-theme-tile-bgcolor {
  background-color: var(--color--primary-50);
}

.tripalcultivate-theme-tile-wrapper {
  overflow: hidden;
  position: relative;
}

#tripalcultivate-theme-tiles a:link {
  text-decoration: none;
}

/* Link in tiles */
.tripalcultivate-theme-tiles-large-half span,
.tripalcultivate-theme-tiles-banner-tall span,
.tripalcultivate-theme-tiles-banner-wide span,
.tripalcultivate-theme-tiles-standard-top span,
.tripalcultivate-theme-tiles-standard-bottom span {
  color: #FFFFFF;
  display: block;
  font-size: var(--font-size-xs);
  font-weight: 300;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 30px 0 0 0;
  position: relative;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.tripalcultivate-theme-tiles-large-half span::after,
.tripalcultivate-theme-tiles-banner-tall span:after,
.tripalcultivate-theme-tiles-banner-wide span:after,
.tripalcultivate-theme-tiles-standard-top span:after,
.tripalcultivate-theme-tiles-standard-bottom span:after {
  content: '\2192';
  font-size: 1.7em;
  padding-left: 5px;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}

/* Image placement in tiles */
/* Fill container */
.tripalcultivate-theme-tiles-large-half {
  background-size: cover;
  background-position: center;
}

/* Bottom half */
.tripalcultivate-theme-tiles-banner-tall {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
}

/* Bottom left half */
.tripalcultivate-theme-tiles-banner-wide {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
}

/* Float top right hand corner */
.tripalcultivate-theme-tiles-standard-top div,
.tripalcultivate-theme-tiles-standard-bottom div {
  height: 80px;
  position: absolute;
  right: 5%;
  top: 10%;
  text-align: right;
  width: 90px;
}

.tripalcultivate-theme-tiles-standard-top div img,
.tripalcultivate-theme-tiles-standard-bottom div img {
  display: block;
  margin-left: auto;
}

/* Banner styles */
.tripalcultivate-theme-tiles-banner-tall div,
.tripalcultivate-theme-tiles-banner-wide div {
  color: #FFFFFF;
  font-size: calc(var(--font-size-base) * 1.2);
  line-height: 0.9;
  position: relative;
  padding: 15px;
  margin: 0;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  width: 50%;
  position: absolute;
  right: 2%;
}

.tripalcultivate-theme-tiles-banner-tall div {
  width: 100%;
}

/* Standard Tile */
.tripalcultivate-theme-tiles-standard-top span,
.tripalcultivate-theme-tiles-standard-bottom span {
  bottom: 10%;
  font-size: var(--font-size-l);
  left: 10%;
  margin: 0;
  position: absolute;
}

/* Set the height of the container element inserted by base theme */
.tripalcultivate-theme-tiles-half-standard div > div {
  height: calc((var(--tile-two-thirds) * 0.5) - (var(--tile-margin-width) * 0.5));
}

.tripalcultivate-theme-tiles-half-two-halves-column:first-child div > div {
  height: calc(var(--tile-two-thirds) + var(--tile-margin-width));
}

.tripalcultivate-theme-tiles-half-one-third-row div > div {
  height: calc(var(--tile-one-third) - var(--tile-margin-width));
}

/* Main Content */
.tripalcultivate-theme-horizontal-rule {
  border-top: 15px solid var(--color--primary-50);
  margin: 40px 0;
  width: 100%;
}

.tripalcultivate-theme-content-header {
  background-color: #FFFFFF;
  color: var(--color--primary-50);
  display: block;
  font-size: calc(var(--font-size-base) * 2);
  margin: 0;
  padding: 0 10px 0 0;
  position: absolute;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
  top: -14px;
}

.tripalcultivate-theme-content-articles .tripalcultivate-theme-tiles-half-column {
  width: 48%;
}

.tripalcultivate-theme-content-articles article h4 {
  margin-bottom: 10px;
  margin-top: 0;
}

.tripalcultivate-theme-content-articles article p {
  margin-top: 5px;
  font-size: calc(var(--font-size-base) * 1.2);
  line-height: 1.5em;
}

/* Funders */
#tripalcultivate-theme-funders {
  text-align: center;
}

#tripalcultivate-theme-funders > div {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 0 0;
}

#tripalcultivate-theme-funders h4 {
  color: #C0C0C0;
  text-align: center;
  margin-bottom: 10px;
}

#tripalcultivate-theme-funders > div div {
  flex: 1 0 auto;
  margin: var(--tile-margin-width);
  padding: 0;
}

.tripalcultivate-theme-content-funder {
  height: 60px;
  display: inline-block;
  width: fit-content;
}

.tripalcultivate-theme-content-funder img {
  width: 90%;
  height: 100%;
  object-fit:contain;
}