{#
/**
 * @file
 * Tripal Cultivate Theme implementation for a large half tile block.
 *
 * Available variables:
 *
 */
#}

<div class="tripalcultivate-theme-tiles-large-half">
  {{ content }}
</div>
